<h2>add new cinema hall</h2>

<hr>

<button (click)="goBack()">Return</button>

<br>
<hr>

<br>

<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Cinema Hall Number</mat-label>
    <input matInput type="number" min="1" step="1" max="{{this.maxNumber}}"
           formControlName="number"
           placeholder="enter a valid number">
  </mat-form-field>


  <br>

  <mat-form-field appearance="fill">
    <mat-label>Cinema Hall Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of hallTypes" value="{{type}}">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Cinema</mat-label>
    <mat-select formControlName="cinema">
     <!-- value="{{cinema}}" try as placeholder in edit form \|/  // funkcja do tego -->
      <mat-option *ngFor="let cinema of cinemas" [value]="cinema" >{{cinema.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <button type="submit" [disabled]="!form.valid">Save cinema hall</button>

</form>

<br>
<hr>

<ul>
  <li *ngFor="let c of cinemaHalls">Kino: {{c.cinema.name}} Sala: {{c.number}}</li>
</ul>
