<div class="movie-box">
  <a routerLink="/movie/{{film.id}}">
    <img class="movie-img" [src]="filmImageHref" alt="No image found">
  </a>
  <div class="card-body">
    <h1 class="card-title">{{film.title}}
    </h1>
    <h6 class="card-subtitle">Directed by: {{film.director}}</h6>
    <p class="card-text"> {{film.description}} </p>
    <div class="card-text font-weight-lighter">
      <p>Premiered: {{film.premiereDate}}</p>
      <p>Duration: {{film.duration}} minutes</p>
    </div>
    <mat-expansion-panel hideToggle *ngIf="screenings && screenings.length>0">
      <mat-expansion-panel-header>
        <mat-panel-title>See screenings</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="screenings">
        <div *ngFor="let screening of screenings" style="padding: 10px">
          <a mat-raised-button (click)="onClickScreening(screening)">
            {{screening.date | date: 'short' }}
          </a>
        </div>
      </div>
    </mat-expansion-panel>
    <div class="screenings mat-caption" *ngIf="screenings && screenings.length==0">
      Sorry, no film shows are available in the selected time frame
    </div>
  </div>
</div>
