<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon style="color: white">filter_alt</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="/">Cinema Brand</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="accountDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          {{currentUser ? currentUser.name + ' ' + currentUser.surname : 'My account'}}
        </a>
        <ul class="dropdown-menu-right" ngbDropdownMenu aria-labelledby="accountDropdown">
          <li ngbDropdownItem>My orders</li>
          <li ngbDropdownItem *ngIf="!currentUser" (click)="userService.login()">Sign in</li>
          <li ngbDropdownItem *ngIf="currentUser" (click)="userService.logout()">Sign out</li>
        </ul>
      </li>
    </ul>
  </div>

</nav>
