<h2 *ngIf="addMode">Add new promo offer</h2>
<h2 *ngIf="!addMode">Edit promo offer</h2>

<hr>

<button (click)="goBack()">Return</button>

<br>
<hr>

<br>

<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Promo Offer Name</mat-label>
    <input matInput formControlName="name"
           placeholder="enter a valid name">
  </mat-form-field>


  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Discount(%)</mat-label>
    <input matInput type="number" min="1" step="1" max="{{this.maxNumber}}"
           formControlName="discount"
           placeholder="enter a valid number">
  </mat-form-field>

  <br>



  <button type="submit" [disabled]="!form.valid">Save Promo Offer</button>

</form>

<br>
<hr>

<ul>
  <li *ngFor="let o of offers">Oferta: {{o.name}} Discount: {{o.discount}}</li>
</ul>
