<div>
  <button mat-icon-button class="small" id="closeBttn"
          [mat-dialog-close]="true">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <h2 class="center" *ngIf="addMode">Add new cinema</h2>
  <h2 class="center" *ngIf="!addMode">Edit cinema</h2>
</div>

<hr>

<div class="center">
  <form [formGroup]="form" (ngSubmit)="save()">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="cinema name">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" placeholder="cinema address">
    </mat-form-field>

    <br>

    <button type="submit" id="save" [disabled]="!form.valid">Save cinema</button>

  </form>
</div>

<br>


<br>
<hr>

<ul>
  <li *ngFor="let c of cinemas">{{c.name}}</li>
</ul>
