<div class="card bg-light mb-2" *ngFor="let movie of movies">

  <div class="movie-box" *ngIf="this.editMovieId!==movie.id">
    <app-movie-card [movie]="movie"></app-movie-card>
    <button mat-icon-button (click)="onClickEdit(movie.id)">
      <mat-icon>mode_icon</mat-icon>
    </button>
  </div>

  <app-movie-edit [editedMovie]="movie" *ngIf="this.editMovieId===movie.id"
                  (submittedEvent)="onSubmittedEvent()"></app-movie-edit>
</div>
<div style="display:flex; justify-content: center; padding: 25px">
  <a routerLink="/admin/movies">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>

<button (click)="movieService.addSampleFilms()">
  add sample movies
</button>




