<mat-expansion-panel class="inner_panels">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{title| titlecase}}
    </mat-panel-title>
    <mat-panel-description>
      {{title}} options
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
    <a class="button" mat-raised-button color="accent"
        routerLink="{{type.editLink}}/{{item.id}}">Modify</a>

    <hr>

    <a class="button" mat-raised-button color="warn"
       (click)="delete()" routerLink="/admin/main">Delete</a>
  </ul>
</mat-expansion-panel>
