.movie-img {
  width: 250px;
  max-height: 380px;
  object-fit: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.movie-box {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  max-height: 400px;
}
