<div class="card bg-light mb-2" *ngFor="let movie of movies">
  <div class="movie-box">
    <img class="movie-img" [src]=movie.imageSource alt="test">
    <div class="card-body">
      <h1 class="card-title">{{movie.title}}</h1>
      <h6 class="card-subtitle">Directed by: {{movie.director}}</h6>
      <p class="card-text"> {{movie.description}} </p>
      <div class="card-text font-weight-lighter">
        <p>Premiered: {{movie.premiere}}</p>
        <p>Duration: {{movie.duration}} minutes</p>
      </div>
    </div>
  </div>
</div>
