<div class="movie-box">
  <a routerLink="/movie/{{film.id}}">
    <img class="movie-img" [src]="filmImage" alt="No image found">
  </a>
  <div class="card-body">
    <h1 class="card-title">{{film.title}}
    </h1>
    <h6 class="card-subtitle">Directed by: {{film.director}}</h6>
    <p class="card-text"> {{film.description}} </p>
    <div class="card-text font-weight-lighter">
      <p>Premiered: {{film.premiereDate}}</p>
      <p>Duration: {{film.duration}} minutes</p>
    </div>
  </div>
</div>
