<div class="card bg-light mb-2" *ngFor="let film of films">

  <div class="movie-box" *ngIf="this.editFilmId!==film.id">
    <app-film-card [film]="film"></app-film-card>
    <button mat-icon-button (click)="onClickEdit(film.id)">
      <mat-icon>mode_icon</mat-icon>
    </button>
  </div>

  <app-film-edit [film]="film" *ngIf="this.editFilmId===film.id"
                 (submittedEvent)="onSubmittedEvent()"></app-film-edit>
</div>
<div style="display:flex; justify-content: center; padding: 25px">
  <a routerLink="/admin/add-film">
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </a>
</div>

<button (click)="filmService.addSampleFilms()">
  add sample movies
</button>




