<h2 *ngIf="addMode">Add new cinema</h2>
<h2 *ngIf="!addMode">Edit cinema</h2>

<button (click)="goBack()">Return</button>

<br>
<hr>

<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="cinema name">
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" placeholder="cinema address">
  </mat-form-field>

  <br>

  <button type="submit" [disabled]="!form.valid">Save cinema</button>

</form>

<br>


<br>
<hr>

<ul>
  <li *ngFor="let c of cinemas">{{c.name}}</li>
</ul>
