<h2>add new product type</h2>

<hr>

<button (click)="goBack()">Return</button>

<br>
<hr>



<br>

<form [formGroup]="form" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Type Name</mat-label>
    <input matInput formControlName="name"
           placeholder="enter a valid name">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Type Unit</mat-label>
    <input matInput formControlName="unit"
           placeholder="enter a valid unit">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Type Amount</mat-label>
    <input matInput formControlName="amount"
           placeholder="enter a valid amount(only integers)">
  </mat-form-field>

  <br>

  <button type="submit" [disabled]="!form.valid">Save product type</button>

</form>

<br>
<hr>

<ul>
  <li *ngFor="let t of types">Type: {{t.name}} Unit: {{t.unit}} Amount: {{t.amount}}</li>
</ul>
