<mat-expansion-panel class="inner_panels">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{title| titlecase}}
    </mat-panel-title>
    <mat-panel-description>
      {{title}} options
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul *ngIf="type.type == 'admin'">
    <a class="button" mat-raised-button color="accent"
       [routerLink]="[type.editLink + '/' + item.id, {'cinema_id': cinema_id}]">Modify</a>

    <hr>

    <a class="button" mat-raised-button color="warn"
       (click)="delete()" routerLink="/admin/main">Delete</a>
  </ul>

  <app-chairs-table *ngIf="type.type == 'manager'" [hall_id]="item.id"></app-chairs-table>

</mat-expansion-panel>
