<mat-accordion *ngFor="let type of typeList">
  <mat-expansion-panel class="main_panels" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{type.name | uppercase}}
      </mat-panel-title>
      <mat-panel-description>
        Expand to manage {{type.name}}s
      </mat-panel-description>
    </mat-expansion-panel-header>
      <hr>

    <app-cinema-table *ngIf="type.name=='cinema'"></app-cinema-table>
    <app-cinema-hall-table *ngIf="type.name=='cinema hall'"></app-cinema-hall-table>

  </mat-expansion-panel>
  <hr>
</mat-accordion>
