.movie-box {
  display: flex;
  flex-wrap: nowrap;
}

.card {
  max-height: fit-content;
}

.card.card-title {
  display: flex;
}

mat-form-field.mat-form-field {
  padding: 10px;
}

.description {
  width: 300px;
}

.movie-img {
  width: 250px;
  max-height: 380px;
  object-fit: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.addPhoto {
  width: 250px;
  height: 250px;
}

#image {
  display: none;
}

#closeBttn {
  float: right;
}

.center {
  display: flex;
  justify-content: center;
}

#save {
  width: 100%;
}
