<a class="button" id="add" mat-raised-button color="primary"
   (click)="add()">Add chairs</a>

<hr>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID</th>
      <td mat-cell *matCellDef="let chair">{{chair.id}}</td>
    </ng-container>


    <ng-container matColumnDef="hallRow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="hallRow">Row</th>
      <td mat-cell *matCellDef="let chair"> {{chair.hallRow}} </td>
    </ng-container>


    <ng-container matColumnDef="hallColumn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="hallColumn">Column</th>
      <td mat-cell *matCellDef="let chair"> {{chair.hallColumn}} </td>
    </ng-container>


    <ng-container matColumnDef="chairType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="chairType">Type</th>
      <td mat-cell *matCellDef="let chair"> {{chair.chairType}} </td>
    </ng-container>

    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef>Modify</th>
      <td mat-cell *matCellDef="let chair">
        <a mat-raised-button color="accent" (click)="modify(chair)">modify</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let chair">
        <a mat-raised-button color="warn" (click)="delete(chair)">delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data found</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
</div>







