<div>
  <button mat-icon-button class="small" [mat-dialog-close]="true" style="float: right">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <h2 mat-dialog-title style="float: left">
    Buy a ticket for this screening
  </h2>


</div>

<mat-dialog-content>

  <div *ngIf="!userService.isUserLoggedIn()">
    <p>Login or register before booking a film show</p>
      <button (click)="userService.login()">Click here to login or register</button>
  </div>

  <mat-stepper orientation="vertical" [linear]="true" #stepper *ngIf="userService.isUserLoggedIn()">
    <mat-step [stepControl]="seatForm">
      <form [formGroup]="seatForm">
        <ng-template matStepLabel>Pick seats</ng-template>
        <ng-template matStepContent>
          <mat-form-field appearance="fill">
            <mat-label>Pick a free seat</mat-label>
            <mat-select formControlName="seat">
              <mat-option *ngFor="let chair of availableChairs" [value]="chair">
                Row: {{chair.hallRow}} Column: {{chair.hallColumn}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button matStepperNext (click)="addChairs()">Next</button>
        </ng-template>
      </form>
    </mat-step>

    <mat-step [stepControl]="detailsForm">
      <form [formGroup]="detailsForm">
        <ng-template matStepLabel>Order details</ng-template>
        <ng-template matStepContent>
          <p>Drugi krok - tutaj będzie logowanie / podanie danych / wybór płatności</p>
          <hr>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="John" value="{{user.name}}" formControlName="name">
          </mat-form-field>
          <hr>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Smith" value="{{user.surname}}" formControlName="surname">
          </mat-form-field>
          <hr>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="some_email@domain.com" value="{{user.email}}" formControlName="email">
          </mat-form-field>

          <hr>

          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </form>
    </mat-step>

    <mat-step [stepControl]="promoForm">
      <form [formGroup]="promoForm">
        <ng-template matStepLabel>Pick promo offer</ng-template>
        <ng-template matStepContent>
          <mat-form-field appearance="fill">
            <mat-label>Pick a promo offer</mat-label>
            <mat-select formControlName="promo">
              <mat-option *ngFor="let offer of availableOffers" [value]="offer">
                {{offer.name}}({{offer.discount}}%)
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-button matStepperNext (click)="createOrder()">Next</button>
        </ng-template>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Order summary</ng-template>
      <ng-template matStepContent>
        <div *ngFor="let product of orderSummary">
          Type: {{product.type}} Subtype: {{product.subtype}} BasePrice: {{product.basePrice}}  Discount: {{product.discount}} FinalPrice: {{product.finalPrice}} ItemCount: {{product.itemCount}}
        </div>
        <button mat-button (click)="placeOrder()">Submit order</button>
      </ng-template>
    </mat-step>
  </mat-stepper>


</mat-dialog-content>
