<div>
  <button mat-icon-button class="small" [mat-dialog-close]="true" style="float: right">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <h2 mat-dialog-title style="float: left">
    Buy a ticket for this screening
  </h2>


</div>

<mat-dialog-content>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis debitis dignissimos, dolor doloremque ducimus eos in, ipsum iste laudantium, magni obcaecati odit placeat quidem recusandae rem repudiandae saepe tempora.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, cumque dolores error eum ex expedita libero nam nesciunt, praesentium quas quibusdam rerum sint totam, ut voluptates? Corporis incidunt molestiae nobis.
</mat-dialog-content>
