<div>
  <button mat-icon-button class="small" [mat-dialog-close]="true" style="float: right">
    <mat-icon>
      close
    </mat-icon>
  </button>
  <h2 mat-dialog-title style="float: left">
    Buy a ticket for this screening
  </h2>


</div>

<mat-dialog-content>
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Pick seats</ng-template>
      <ng-template matStepContent>
        <p>Pierwszy krok - tutaj będzie wybór miejsc / dodawanie kolejnych
          - trzeba dodać do listy wybrany po kliknęciu w coś, pop z listy dostepnych
        Trzeba też wyłączyć guzik na next jeśli żadne miejsce nie jest wybrane
        </p>
        <mat-form-field appearance="fill">
          <mat-label>Pick a free seat</mat-label>
          <mat-select>
            <mat-option *ngFor="let chair of availableChairs" [value]="chair">
              Row: {{chair.hallRow}} Column: {{chair.hallColumn}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Order details</ng-template>
      <ng-template matStepContent>
        <p>Drugi krok - tutaj będzie logowanie / podanie danych / wybór płatności</p>
        Name: {{user.name}} <br>
        Surname: {{user.surname}} <br>
        Email: {{user.email}} <br>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Order summary</ng-template>
      <ng-template matStepContent>
        <p>Trzeci krok - tutaj będą konkretne dane na temat zamówienia</p>
        <button mat-button (click)="placeOrder()">Submit order</button>
      </ng-template>
    </mat-step>
  </mat-stepper>


</mat-dialog-content>
